SERVER_PORT=
SPRING_PROFILES_ACTIVE=dev

# DB
DB_DRIVER=
DB_USERNAME=
DB_PASSWORD=
DB_URL=

# Service Discovery
ORDER_SERVICE_URL=
PRODUCT_SERVICE_URL=
PAYMENT_SERVICE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DATABASE=

# JWT
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_SECRET=

# k8s를 위한 환경변수
NAMESPACE=
IMAGE=