spring:
  application:
    name: goormdotcom-user-service
  profiles:
    active: dev
    include: secret

  config:
    import:
      "configserver:"

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: INFO
