spring:
  application:
    name: "Goormdotcom-Backend"
  profiles:
    active: dev
    include: secret

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: never
