name: order-service main-branch CI workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # 테스트
  build:
    env:
      SPRING_PROFILES_ACTIVE: test
      JWT_SECRET: ${{ vars.TEST_JWT_SECRET }}

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Configure AWS credentials
        if: failure()
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_S3_UPLOAD }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_S3_UPLOAD }}
          aws-region: ap-northeast-2

      - name: Upload test report to S3 on failure
        if: failure()
        run: |
          RUN_ID=${GITHUB_RUN_ID}
          if [ -d build/reports/tests/test ]; then
            aws s3 sync build/reports/tests/test \
              s3://${{ secrets.S3_REPORT_BUCKET }}/reports/${RUN_ID}/ \
              --delete
          else
            echo "No test report directory found."
          fi

  # 빌드 성공 시 도커 이미지 빌드
  docker-image:
    name: Build and Push Docker Image
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read
      id-token: write     # OIDC로 AWS 권한 받을 때 필요

    env:
      AWS_REGION: ${{ vars.AWS_REGION }}            # 쓰는 리전으로 변경
      ECR_REPOSITORY: ${{ vars.AWS_ECR_REPOSITORY }}        # ECR 리포지토리 이름 (미리 만들어둬야 함)
      IMAGE_STEP: ${{ vars.IMAGE_STEP }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1) GitHub ACCESS KEY and SECRET KEY로 자격증명
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      # 2) ECR 로그인
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # 3) Docker meta (이미지/태그 생성 규칙)
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}
          tags: |
            # {commit sha}-{step} 규칙
            type=sha,format=short,suffix=-${{ env.IMAGE_STEP }}

      # 4) Build & Push to ECR
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  # 테스트 실패 시
  notify-slack-on-build-failure:
    name: Notify Slack on build failure
    needs:
      - build
    runs-on: ubuntu-latest
    if: needs.build.result == 'failure'                        # 실패했을 때만 실행
    steps:
      - name: Send Slack message on failure
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          CF_DOMAIN: ${{ vars.CF_REPORT_DOMAIN }} # 예: ci.goormdotcom.com
        run: |
          REPO="${GITHUB_REPOSITORY}"
          BRANCH_FROM="${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}"   # PR일 경우: from 브랜치
          BRANCH_TO="${GITHUB_BASE_REF:-main}"                   # PR일 경우: target 브랜치
          RUN_ID="${GITHUB_RUN_ID}"
          GH_URL="https://github.com/${REPO}/actions/runs/${RUN_ID}"
          REPORT_URL="https://${CF_DOMAIN}/reports/${RUN_ID}/index.html"

          MESSAGE="❌ *Build/Test Failed*

          *Repository* : \`${REPO}\`
          *Branch* : \`${BRANCH_FROM}\` → \`${BRANCH_TO}\`

          *GitHub Run*: <${GH_URL}|View in GitHub>
          *Report* : <${REPORT_URL}|View HTML Report>"

          payload=$(jq -n --arg text "$MESSAGE" '{ text: $text }')

          curl -X POST -H 'Content-type: application/json' \
            --data "$payload" \
            "$SLACK_WEBHOOK_URL"

  # 이미지 빌드 실패 시
  notify-slack-on-image-build-failure:
    name: Notify Slack on image build failure
    needs:
      - docker-image
    runs-on: ubuntu-latest
    if: needs.docker-image.result == 'failure'
    steps:
      - name: Send Slack message on failure
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

        run: |
          REPO="${GITHUB_REPOSITORY}"
          BRANCH_FROM="${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}"   # PR일 경우: from 브랜치
          BRANCH_TO="${GITHUB_BASE_REF:-main}"                   # PR일 경우: target 브랜치
          RUN_ID="${GITHUB_RUN_ID}"
          GH_URL="https://github.com/${REPO}/actions/runs/${RUN_ID}"

          MESSAGE="❌ *Image Build/Push Failed*

          *Repository* : \`${REPO}\`
          *Branch* : \`${BRANCH_FROM}\` → \`${BRANCH_TO}\`

          *GitHub Run*: <${GH_URL}|View in GitHub>"

          payload=$(jq -n --arg text "$MESSAGE" '{ text: $text }')

          curl -X POST -H 'Content-type: application/json' \
            --data "$payload" \
            "$SLACK_WEBHOOK_URL"
